<html>
<head>
<title>SAP-3 | The Team</title>

	<script src="/static/jquery.js" type="text/javascript"></script>
	<script src="/static/backbone/test/vendor/json2.js" type="text/javascript"></script>
	<script src="/static/backbone/test/vendor/underscore.js" type="text/javascript"></script>
	<script src="/static/backbone/backbone.js" type="text/javascript"></script>
	<script src="/static/bootstrap/js/bootstrap.js" type="text/javascript"></script>
	
	<link href="/static/style1.css" rel="stylesheet" type="text/css" />
	<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
	<link href="/static/style.css" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="/static/images/url_logo.png" />





</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="javascript:void()"><img src="/static/images/social.png" width="200" height="50"></a>
				<ul class="nav pull-right">
                      <li><a href="/">Home</a></li>
					  <li><a href="/team">Meet Our Team</a></li>
                </ul>
			</div>
		</div>
	</div>
<div id="barrameda_wrapper_outer">

<div id="barrameda_wrapper">
	
 
    

    
    <div id="barrameda_content">
	<div class="cleaner_h50"></div>
    	<table border="0" width="100%" height="100%" >
		<table border="0">
			<td align="center"><img src="/static/images/banner.png"></td>
				<td>
					
				</td>
		</table>
</table>
        <div class="col_w600">
		<div class="cleaner_h20"></div>
        	<div class="news_box news_box_last">
            <h2>Mark Adrian Barrameda</h2>
             		
                <img src="/static/images/makoy.jpg" alt="barramedaImage03" />
                <p></br>
				<b>Age:</b>&nbsp; 21
				</br><b>Bith Day:</b>&nbsp; September 14, 1991
				</br><b>Location:</b>&nbsp; Novaliches, Quezon City
				</br><b>Email Add:</b>&nbsp; barrameda.markadrian@gmail.com
				</p>
                
              
            </div><ul id="social_box">
                <li><a href="http://www.facebook.com/mr.mackoyz"><img src="/static/images/facebook.png" alt="facebook" /></a></li>
                <li><a href="#"><img src="/static/images/twitter.png" alt="Twitter" /></a></li>
                <li><a href="#"><img src="/static/images/linkedin.png" alt="Linkedin" /></a></li>
                <li><a href="#"><img src="/static/images/technorati.png" alt="Technorati" /></a></li>
                <li><a href="#"><img src="/static/images/myspace.png" alt="Myspace" /></a></li>                
            </ul>
			<div class="cleaner_h10"></div>
			<div class="cleaner_h20"></div>
			<div class="news_box news_box_last">
            
                <h2>Alexis Ann Dalagan</h2>		
                
                        
                <img src="/static/images/alexis.jpg" alt="barramedaImage03" />
                <p></br>
				<b>Age:</b>&nbsp; 20
				</br><b>Bith Day:</b>&nbsp; January 4, 1992
				</br><b>Location:</b>&nbsp; Paete, Laguna
				</br><b>Email Add:</b>&nbsp; alexdalagan@yahoo.com
				</p>
                
             
            </div><ul id="social_box">
                <li><a href="http://www.facebook.com/lovekosibryan"><img src="/static/images/facebook.png" alt="facebook" /></a></li>
                <li><a href="#"><img src="/static/images/twitter.png" alt="Twitter" /></a></li>
                <li><a href="#"><img src="/static/images/linkedin.png" alt="Linkedin" /></a></li>
                <li><a href="#"><img src="/static/images/technorati.png" alt="Technorati" /></a></li>
                <li><a href="#"><img src="/static/images/myspace.png" alt="Myspace" /></a></li>                
            </ul>
            <div class="cleaner_h10"></div>
			<div class="cleaner_h20"></div>
			<div class="news_box news_box_last">
            
                <h2>Walter Bernardo</h2>		
                
                        
                <img src="/static/images/walter.jpg" alt="barramedaImage03" />
                <p></br>
				<b>Age:</b>&nbsp; 21
				</br><b>Bith Day:</b>&nbsp; September 23, 1991
				</br><b>Location:</b>&nbsp;  Project 2, Quezon City
				</br><b>Email Add:</b>&nbsp; whalter_2314@gmail.com
				</p>
                
              
            </div><ul id="social_box">
                <li><a href="http://www.facebook.com/walter.bernardo.507"><img src="/static/images/facebook.png" alt="facebook" /></a></li>
                <li><a href="#"><img src="/static/images/twitter.png" alt="Twitter" /></a></li>
                <li><a href="#"><img src="/static/images/linkedin.png" alt="Linkedin" /></a></li>
                <li><a href="#"><img src="/static/images/technorati.png" alt="Technorati" /></a></li>
                <li><a href="#"><img src="/static/images/myspace.png" alt="Myspace" /></a></li>                
            </ul>
			<div class="cleaner_h10"></div>
			<div class="cleaner_h20"></div>
			<div class="news_box news_box_last">
            
                <h2>Mark FLores</h2>		
                
                        
                <img src="/static/images/mark.jpg" alt="barramedaImage03" />
                <p></br>
				<b>Age:</b>&nbsp; 20
				</br><b>Bith Day:</b>&nbsp; October 29, 1991
				</br><b>Location:</b>&nbsp; Binangonan, Rizal
				</br><b>Email Add:</b>&nbsp; mharkh29_14@yahoo.com
				</p>
                
              
            </div> <ul id="social_box">
                <li><a href="http://www.facebook.com/mharkh29"><img src="/static/images/facebook.png" alt="facebook" /></a></li>
                <li><a href="#"><img src="/static/images/twitter.png" alt="Twitter" /></a></li>
                <li><a href="#"><img src="/static/images/linkedin.png" alt="Linkedin" /></a></li>
                <li><a href="#"><img src="/static/images/technorati.png" alt="Technorati" /></a></li>
                <li><a href="#"><img src="/static/images/myspace.png" alt="Myspace" /></a></li>                
            </ul>
			<div class="cleaner_h10"></div>
			<div class="cleaner_h20"></div>
             <div class="news_box news_box_last">
        
                <h2>Michael Jordan Parungao</h2>		
				
                        
                <img src="/static/images/jordan.jpg" alt="Image 04" />
				<p></br>
				<b>Age:</b>&nbsp; 20
				</br><b>Bith Day:</b>&nbsp; March 1, 1991
				</br><b>Location:</b>&nbsp; Pila, Laguna
				</br><b>Email Add:</b>&nbsp; m.parungao@yahoo.com
				</p>
                
             
            </div>	<ul id="social_box">
                <li><a href="http://www.facebook.com/Xinai23"><img src="/static/images/facebook.png" alt="facebook" /></a></li>
                <li><a href="#"><img src="/static/images/twitter.png" alt="Twitter" /></a></li>
                <li><a href="#"><img src="/static/images/linkedin.png" alt="Linkedin" /></a></li>
                <li><a href="#"><img src="/static/images/technorati.png" alt="Technorati" /></a></li>
                <li><a href="#"><img src="/static/images/myspace.png" alt="Myspace" /></a></li>                
            </ul>
            <div class="cleaner_h10"></div>
			<div class="cleaner_h20"></div>
			<div class="news_box news_box_last">
        
                <h2>Allen Ecaldre</h2>		
				
                        
                <img src="/static/images/allen.jpg" alt="Image 04" />
                <p></br>
				<b>Age:</b>&nbsp; 21
				</br><b>Bith Day:</b>&nbsp; October 24, 1991
				</br><b>Location:</b>&nbsp; Rosario, Pasig City
				</br><b>Email Add:</b>&nbsp; allenecaldre@yahoo.com
				</p>
                
             
            </div>	<ul id="social_box">
                <li><a href="http://www.facebook.com/allen.ecaldre"><img src="/static/images/facebook.png" alt="facebook" /></a></li>
                <li><a href="#"><img src="/static/images/twitter.png" alt="Twitter" /></a></li>
                <li><a href="#"><img src="/static/images/linkedin.png" alt="Linkedin" /></a></li>
                <li><a href="#"><img src="/static/images/technorati.png" alt="Technorati" /></a></li>
                <li><a href="#"><img src="/static/images/myspace.png" alt="Myspace" /></a></li>                
            </ul>
        </div>
        <div class="col_w300 col_last">
            <h2 style="color:white;">Feed/Tweet Finder</h2>
            <li><a href="#"><img src="/static/images/facebook1.png" alt="Technorati" /></a></li>
                <li><a href="#"><img src="/static/images/twitter1.png" alt="Myspace" /></a></li>
                        
            <ul class="tmo_list">
                <li style="color:white;">Reduce Any Clutter: </br></br>Filter Out Retweets</li>
                <li style="color:white;">Monitor Only Real Opinions: </br></br>Filter Out Links</li>
                <li style="color:white;">Monitor Negative Mentions</li>
                <li style="color:white;">Monitor Questions Mentioning You </br></br>Or Your Business</li>
				<li style="color:white;">Include Your Name & Your</br></br>Moniker(s) In Search Results</li>
            </ul>
            <div class="cleaner"></div>
        </div>
    
    	<div class="cleaner"></div>
        
    
    	<div class="cleaner"></div>
    </div>
    
	<div class="cleaner"></div>
</div>
</div>

<div id="barrameda_footer_wrapper">
	
	
	
	
    <div id="barrameda_copyright">
    
        Copyright © 2012 <a href="#">The Butaw Kidz</a> | All Rights Reserve
    
    </div>
</div>

</body>
</html>